*.cache
CryptoTrader/CryptoTrader/obj/x86/Debug/CryptoTrader.exe
*.pdb
CryptoTrader/CryptoTrader/obj/x86/Debug/CryptoTrader.csproj.FileListAbsolute.txt
*.csproj
CryptoTrader/CryptoTrader/CryptoTrader.csproj
*.csproj
CryptoTrader/CryptoTrader.v11.suo
*.exe
CryptoTrader/CryptoTrader/bin/Debug/Newtonsoft.Json.xml
*.csproj
CryptoTrader/CryptoTrader/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CryptoTrader/CryptoTrader/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs